<!DOCTYPE html>
<html>
    <head>
        <title>Ratings</title>
    </head>

    <body>

<!-- toggle whether log in or out appears based on logged in status -->
        <h2>Log In!</h2>
        <form action='/login' method='POST'>
            <label>Email:
                <input type='text' name='email'>
            </label>
            <label>Password:
                <input type='password' name='password'>
            </label> <br>
            <input type='submit' value="Log In">
        </form>
        <br>
        <form action="/logout">
            <input type="submit" value="Log Out">
        </form>



        <ul>
        {% for messages in get_flashed_messages() %}
            <li>{{ messages }}</li>
        {% endfor %}
        </ul>


        Ratings
        <hr>

        {% block content %} put your content here {% endblock %}
    </body>
</html>
