<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Title{% endblock %}</title>
    </head>

    <body>

        {% if 'id' not in session %}
            <form action="/login">
                <input type="submit" value="Log In or Sign Up">
            </form>
        {% else %}
            <form action="/logout">
                <input type="submit" value="Log Out">
            </form>
        {% endif %}

        <ul>
        {% for messages in get_flashed_messages() %}
            <li>{{ messages }}</li>
        {% endfor %}
        </ul>

        Ratings
        <hr>

        {% block content %} put your content here {% endblock %}
    </body>
</html>
