<!DOCTYPE html>
<html>
    <head>
        <title>Ratings</title>
    </head>

    <body>

<!-- toggle whether log in or out appears based on logged in status -->
<!-- if 'id' not in session, show log out
    <form>
                <form action="/logout">
            <input type="submit" value="Log Out">
        </form>
 if not, show login -->

        <form action="/login">
            <input type="submit" value="Log In or Sign Up">
        </form>
        <form action="/logout">
            <input type="submit" value="Log Out">
        </form>



        <ul>
        {% for messages in get_flashed_messages() %}
            <li>{{ messages }}</li>
        {% endfor %}
        </ul>


        Ratings
        <hr>

        {% block content %} put your content here {% endblock %}
    </body>
</html>
